---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';

---

<BaseLayout title="Listado de rutas">
  <Navbar />
  <section class="max-w-6xl mx-auto mt-12 px-4 page-height flex flex-col items-center">
    <h1 class="text-6xl font-bold text-blue-600 mb-4">404</h1>
     <p class="text-xl text-gray-700 mb-6">Oops! La página que buscas no existe.</p>
      <a href="/" class="inline-block bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700 transition">
        Volver al inicio
      </a>
  </section>
</BaseLayout>
