---
import BaseLayout from '../layouts/BaseLayout.astro';
import FormularioRuta from '../components/FormularioRuta/FormularioRuta.jsx';
import Navbar from '../components/Navbar.astro';
---

<BaseLayout title="Crear nueva Ruta">
  <main class="page-height">
    <Navbar />
    <section class="max-w-6xl mx-auto mt-12 px-4">
      <FormularioRuta client:load />
    </section>
  </main>
</BaseLayout>
